body{
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 200%;
    font-weight: 600;
    color: #FFF;
    padding-top: 2.5rem;
    text-align: center;
}

section{
    background-color: #FFF;;
    border-radius: 5%;
    width: 27vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DivAddNotas{
    text-align: center;
    padding-top: 2em;
}

.Nota{
    width: 10vw;
}

.btn_Add{
    width: 5em;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    border: 1px solid rgb(0, 0, 0);
    color: #FFF;
}

.DivNotas{
    overflow: auto;
    margin: auto;
    margin-top: 2vh;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #9d50bb, #6e48aa) 1;

    width: 25vw;
    height: 40vh;
}

.DivMedias{
    width: auto;
    height: 13vh;
    padding-top: 2vh;
    padding-left: 1vw;
}

.btn_Media{
    width: 10em;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    border: 1px solid rgb(0, 0, 0);
    color: #FFF;
}

.DivNotas p{
    padding-top: 0.5em;
    height: 4vh;
    border-top: 0.1em solid #9d50bb;
}
.DivNotas p:hover{
    color: #FFF;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
}

.Media{
    padding-top: 1em;
    height: 4vh;
}
